body {
  box-sizing: border-box;
  background: #3a3a4f;
  /*background: #f44242;*/
  font-family: "Baloo", cursive;
  color: #3a3a4f;
}

header {
  background-color: #a2f9e8;
  /*background: #3a3a4f;*/
  padding: 0 50px;
  display: flex;
}

#guesses {
  color: #f44242;
  font-size: 22px;
}

.font-style {
  color: #a2f9e8;
  font-size: 23px;
  text-shadow: 1px 1px 2px #3a3a4f;
  text-align: center;
}

.score {
  flex-grow: 3;
  font-size: 20px;
}

.score p {
  margin: 9px;
}

.infoBtn-wrapper, .exitBtn-wrapper {
  justify-content: flex-end;
}

#infoBtn, #exitBtn {
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 5px;
  cursor: pointer;
}

#exitBtn {
  background-color: #3a3a4f;
  color: white;
}

#infoBtn p, #exitBtn p {
  padding-top: 15%;
  margin: 0 auto;
  font-size: 20px;
}

.myName {
  margin-top: 70px;
}

.game-wrapper, .modal-intro-wrapper, .modal-instruction-wrapper, .modal-instruction-wrapper-copy, .modal-popup-wrapper, .modal-replay-wrapper, .modal-confirm-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	padding-top: 100px;
  overflow: hidden;
}

.modal-popup-wrapper, .modal-replay-wrapper, .modal-confirm-wrapper {
  padding-top: 50px;
}

.game-wrapper {
  z-index: -10;
  padding: 0;
}

.modal-intro-wrapper {
  background-color: #3a3a4f;
  text-align: center;
  padding-top: 50px;
}

.modal-intro-content, .modal-popup-content, .modal-replay-content {
  background-color: #a2f9e8;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 0 auto;
}

.modal-replay-content p {
  padding-top: 120px;
  text-align: center;
  font-size: 24px;
}

.modal-instruction-content, .modal-instruction-content-copy {
	margin: auto;
	width: 50%;
  max-width: 700px;
  height: auto;
	padding: 10px 10px;
	border-radius: 10px;
  border: none;
}

.modal-intro-content h1 {
  font-size: 50px;
  color: white;
  padding-top: 150px;
  text-shadow: 1px 1px 3px #3a3a4f;
}

.modal-instruction-wrapper, .modal-instruction-wrapper-copy, .modal-popup-wrapper, .modal-replay-wrapper, .modal-confirm-wrapper {
  background-color: rgba(162, 249, 232, 0.8);
  display: none;
}

.modal-instruction-content, .modal-popup-content, .modal-replay-content, .modal-confirm-content {
  background-color: rgba(252, 252, 252, 1);
  text-align: center;
}

.modal-instruction-content-copy {
  background-color: rgba(252, 252, 252, 0.7);
}

.modal-instruction-content h3, .modal-instruction-content-copy h3 {
  font-size: 30px;
  text-align: center;
}

.modal-instruction-content ul, .modal-instruction-content-copy ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.modal-instruction-content li, .modal-instruction-content-copy li {
  font-size: 18px;
  line-height: 25px;
}

.modal-replay-content p {
  padding-top: 40%;
}

.modal-confirm-content {
  margin: auto;
	width: 50%;
  max-width: 400px;
  height: 200px;
	padding: 50px 70px;
	border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 20px;
}

#modal-end {
  display: none;
}

#startBtn, #endBtn, #continueBtn, #goBtn, #goBackBtn, #replayBtn, #endGameBtn, #returnBtn, #resumeBtn, #quitBtn {
  width: 200px;
  margin: 0 auto;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin-top: 15px;
  font-family: "Baloo", cursive;
  box-shadow: 1px 1px 4px #3a3a4f;
  text-shadow: 1px 1px 2px #3a3a4f;
}

#startBtn, #replayBtn, #returnBtn, #resumeBtn {
  background-color: #f44242;
  color: white;
}

#replayBtn, #endGameBtn, #resumeBtn, #quitBtn {
  display: inline;
  width: 150px;
  font-size: 22px;
  margin: 20px 5px;
}

#endBtn, #endGameBtn, #quitBtn {
  background-color: white;
  color: #3a3a4f;
}

#continueBtn {
  background-color: #f44242;
  color: white;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 50px;
}

#goBtn, #goBackBtn {
  background-color: #f44242;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

.card-box {
  box-sizing: border-box;
  padding-top: 40px;
  margin: 0 auto;
}

.card-box .card {
  width: 30%;
  margin-left: 35%;
}

.card-box .guess-who-img {
  height: 60%;
  margin-left: 3px;
}

.text-box {
  padding: 0 70px;
  padding-top: 10px;
  font-size: 20px;
  color: #3a3a4f;
}

.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
  margin: 0 auto;
}

.card {
  margin: 0 auto;
  width: 15%;
  height: 25%;
  flex-grow: 1;
  margin: 5px;
}

.front, .back {
  box-sizing: border-box;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 20px;
  border: 5px #3a3a4f solid;
}

.front {
  background: white;
  display: none;
  font-size: 28px;
  color: #f44242;
}

.back {
  /*background: #3a3a4f;*/
  background-color: #f44242;
  padding: 0;
}

.guess-who-img {
  height: 90%;
  margin-left: 25%;
}

.alert-wrapper {
  position: fixed;
  top: 30%;
  left: 45%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px #181b21 solid;
  display: none;
  text-align: center;
}

#foundMeAlert {
  left: 40%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 13px solid #f44242;
  background: white;
}

#foundMeAlert p {
  margin-top: 40%;
  font-size: 25px;
  font-weight: bold;
}

.alert-wrapper p {
  margin-top: 45%;
}

#hotAlert {
  background-color: #f44242;
  color: white;
}

#coldAlert {
  background-color: white;
}

#warmAlert {
  background-color: #a2f9e8;
  color: #3a3a4f;
}

/* Media Query */
@media (max-width: 700px) {
  header {
    padding: 7px;
  }

  .myName {
    margin-top: 25px;
    font-size: 10px;
  }

  .modal-intro-wrapper, .modal-instruction-wrapper, .modal-instruction-wrapper-copy, .modal-popup-wrapper, .modal-replay-wrapper, .modal-confirm-wrapper {
  	padding-top: 10px;
  }

  .modal-intro-content, .modal-popup-content, .modal-replay-content {
    width: 300px;
    height: 300px;
    margin-top: 10px;
  }

  .modal-confirm-content {
    height: auto;
  	padding: 30px;
    font-size: 18px;
    margin-top: 30px;
  }

  .modal-instruction-content, .modal-instruction-content-copy {
    width: 60%;
    height: auto;
    padding: 10px;
  }

  .modal-instruction-content h3, .modal-instruction-content-copy h3 {
    font-size: 20px;
    text-align: center;
  }

  .modal-instruction-content li, .modal-instruction-content-copy li {
    font-size: 14px;
    line-height: 22px;
  }

  .modal-intro-content h1 {
    font-size: 35px;
    color: white;
    padding-top: 90px;
    text-shadow: 1px 1px 3px #3a3a4f;
  }

  .modal-replay-content p {
    font-size: 18px;
  }

  .card-box {
    padding-top: 50px;
    margin: 0 auto;
    margin-left: 2px;
  }

  .text-box {
    padding: 0 50px;
    padding-top: 10px;
    font-size: 17px;
  }

  #startBtn, #endBtn, #continueBtn, #goBtn, #goBackBtn, #replayBtn, #endGameBtn, #returnBtn, #resumeBtn, #quitBtn {
    width: 100px;
    font-size: 15px;
  }

  #replayBtn, #endGameBtn, #resumeBtn, #quitBtn {
    display: inline;
    width: 80px;
    font-size: 15px;
    margin: 10px 5px;
  }

  #continueBtn {
    font-size: 16px;
    margin-bottom: 30px;
  }

  #goBtn {
    font-size: 14px;
    padding: 5px;
  }

  .container {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .flex-container {
    width: 100%;
    height: 50%;
    margin: 0 auto;
  }

  .card {
    margin: 5px auto;
    width: 15%;
    height: 25%;
  }

  .front {
    font-size: 20px;
  }

  .guess-who-img {
    height: 80%;
    margin-left: 20px;
  }

  .alert-wrapper {
    top: 30%;
    left: 40%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px #181b21 solid;
    display: none;
    text-align: center;
  }

  #foundMeAlert {
    left: 30%;
    width: 220px;
    height: 220px;
  }

  #foundMeAlert p {
    margin-top: 45%;
    font-size: 20px;
  }

  .alert-wrapper p {
    margin-top: 40%;
    font-size: 15px;
  }

  .card-box {
    padding-top: 30px;
  }

  .card-box .card {
    width: 120px;
    height: auto;
    margin-left: 30%;
  }

  .card-box .guess-who-img {
    height: auto;
    width: 70%;
    margin-left: 3px;
  }

  .text-box {
    padding-top: 0;
  }

  #goBtn {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 580px) {
  #foundMeAlert {
    left: 20%;
  }

  .guess-who-img {
    margin-left: 7%;
  }
}

/*@media only handheld(max-width: 700px) {
  header {
    padding: 5px;
  }

  .modal-intro-content, .modal-popup-content, .modal-replay-content {
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }
}*/
